/* Styling for all forms */
form {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    position: relative;
    width: 100%;
}

form>.row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: flex-start;
    justify-content: space-around;
}

form>.row>* {
    width: 50%;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
}

select,
input:not([type="checkbox"]):not([type="radio"]) {
    padding: 0.5rem 1rem;
    outline: none;
    border-radius: 0.5rem;
    border: 0.1rem solid var(--silver);
    background: url("data:image/svg+xml,<svg height='15px' width='15px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    font-size: 1.15rem;
    color: var(--light-gray);
    cursor: pointer;
}

input:not([type="checkbox"]):not([type="radio"]) {
    background: none;
    cursor: text;
}

@media screen and (max-width: 991px) {
    form {
        margin-top: 2rem;
        gap: 2rem;
    }

    .row {
        flex-wrap: wrap;
    }

    form>.row>* {
        font-size: 1rem;
        width: 90%;
    }
}

/* Your Location form styling*/
#your-location .row:first-child select:first-child {
    background: var(--silver);
    opacity: 0.55;
    color: var(--light-gray);
    cursor: not-allowed;
}

/* Personal Details form styling */
.select-items {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 0.8rem;
}

.select-items> :not(span:first-child) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem
}


.select-items .selection {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

@media screen and (max-width: 767px) {
    .select-items {
        align-items: center;
        justify-content: flex-start;
    }
}

@media screen and (max-width: 400px) {
    .select-items {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .select-items> :not(span:first-child) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.75rem;
        padding-left: 2rem;
    }
}

/* Family Background Form Styling */
#family-bg > form {
    gap: 2rem;
}

.select-items.family-background {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.select-items.family-background .occupation-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.select-items.family-background .occupation-items span {
    display: flex;
    gap: 1.5rem;
}

@media screen and (max-width: 400px) {
    .select-items.family-background {
        flex-direction: column;
        gap: 0;
    }
    .select-items.family-background .occupation-items {
        padding: 1.3rem;
    }
}