@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root
{
    --dark-blue: #2F4858;
    --sidebar-text: #E1F1FF;
    --light-green: #5CF18F;
    --cyan: #2BEFEF;
    --silver: #C0C0C0;
    --white: #FFFFFF;
    --light-grey: #909090;
    --black: #202020;
    --btn-hover: #22343F;
}
